* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* background-color: black; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: rgb(30, 151, 226);
}

header {
    padding: 1rem;
}

main {
    flex: 1;
}

.pixel-art {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
}

header,
footer {
    background-color: blue;
    color: white;
}

.roboto-thin {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: italic;
}

@media (width < 500px) {
    .press-start-2p-regular {
        scale: 80%;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: white;
    }
}