---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import RecentPosts from "../components/RecentPosts.astro";
const allPosts = await Astro.glob("./posts/*.mdx");
const pageTitle = "Dan Collins | Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="grid">
        <article class="blog-card">
            <h2 class="blog-card__title roboto-bold">About this blog</h2>
            <p class="blog-card__desc roboto-thin">
                I like to learn new things and talk through problems I've
                encountered and <em>my</em> solutions. This includes game development
                as well as web development.
            </p>
        </article>
        <RecentPosts />
    </div>
    <!-- <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul> -->
</BaseLayout>

<style>
    .blog-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.25rem;
        background-color: hsl(240, 9%, 25%);
        width: 100%;
        justify-content: center;
        grid-area: prof;
        color: white;
    }

    .blog-card__title {
        padding: 1rem;
    }

    .blog-card__desc {
        line-height: 1.5rem;
        padding: 0.25rem 1rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat (12, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "prof"
            "recent"
            ".";
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
</style>
