---
import HomeLayout from "../layouts/HomeLayout.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Dan Collins | Blog";
---
<HomeLayout pageTitle={"FUCK"}>

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>

    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    <!-- {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)} -->
</HomeLayout>

