---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dan Collins</title>
	</head>
	<body>
		<h1>Working on building out my personal site using Astro</h1>
	</body>
</html>
