---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
// import Coin from "../components/Coin.astro";
import Coin from "../components/Coin.svelte";
const pageTitle = "Home Page";

---

<style>
    section {
        display: flex;
        /* min-height: 20dvh; */
    }
    div {
        width: 4rem;
    }

    p {
        text-align: center;
        flex: 1;
        /* font-size: 2rem; */
    }

    nav {
        margin-left: auto;
    }

    .coin__animation {
        /* position: relative; */
        /* width: 8px;
        height: 8px; */
        background: url("/coin-Sheet.png");
        animation: spin 0.8s steps(6) infinite;
        background-size: cover;

        background-repeat: repeat;
        /* background-position: center; */
        background-size: cover;
       width: 100%;
        /* width: 100%; adjust as needed */
        height: 100%; /* adjust as needed */

        /* translate: 16px 16px; */
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        /* margin: 0 auto; */
    }

    .sprite-container {
        background-color: white;
        width: 32px;
        height: 32px;
        /* max-width: 100%;
        max-height: 100%; */
    }

    @keyframes spin {
        0% {
            background-position: 0, 0;
        }
        100% {
            background-position: -48px 0;
        }
    }
</style>

<BaseLayout>
    <section>
        <Coin />
    </section>
</BaseLayout>
