---

---

<style>
    footer {
        border-radius: 0.5rem;
        margin-top: auto;
    }

    p {
        text-align: center;
        padding: 0.5rem;
        margin: 1rem;
    }
</style>
<footer>
    <p class="roboto-regular">&copy; 2024 Dan Collins</p>
</footer>
