---

---

<style>
    footer {
        border-radius: 0 0 .5rem .5rem;
        margin-top: auto;
        box-shadow: inset 0px 0px 10px 0px rgba(222, 166, 166, 0.762)
    }

    p {
        text-align: center;
        padding: 0.25rem;
        margin: 1rem;
    }
</style>
<footer>
    <p class="roboto-regular">&copy; 2024 Dan Collins</p>
</footer>
