---

---
<style>
    footer {
        display: flex;
        justify-content: center;
        padding: .5rem;
        background-image: url("/ground-tile.png");
        background-size: contain;
        min-height: 64px;
    }

    p {
        align-self: center;
    }
</style>
<footer class="pixel-art">
    <p class="press-start-2p-regular">&copy; 2024 Dan Collins</p>
</footer>
