---
import Navigation from "./Navigation.astro";
---

<style>
    header {
        margin-bottom: .5rem;
        padding: .25rem;
        max-width: 500px;
    }
</style>
<header>
    <nav>
        <Navigation />
    </nav>
</header>
