---
const allPosts = await Astro.glob("../pages/posts/*.mdx");
allPosts.sort(
    (a, b) =>
        Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
let recentPost = allPosts[0];
---

<article class="panel">
    <h2 class="latest-post__label">Latest Post</h2>
    <div class="latest-post__content">
        <a class="roboto-regular" href={recentPost.url}
            >{recentPost.frontmatter.title}</a
        >
        <p class="roboto-thin description">
            {recentPost.frontmatter.description}
        </p>
    </div>
</article>

<style>
    .latest-post__label {
        color: white;
        padding: 1rem;
    }

    .latest-post__content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin: 0.5rem;
    }

    a {
        font-size: 1.5rem;
        align-self: center;
        padding: 0.5rem;
    }

    .description {
        align-self: flex-start;
        padding: 0.5rem;
    }
</style>
