---

---

<style>
    div {
        background-color: hsl(238, 21%, 23%);
        flex-direction: row;
        padding: 1rem;
        border-radius: .5rem .5rem 0 0;
    }
    a {
        padding: 0.5rem;
    }

    @media (width >= 425px) {
        div {
            flex-direction: row;
        }
    }
</style>
<div>
    <a class="nav-link roboto-bold" href="/">Home</a>
    <a class="nav-link roboto-bold" href="/blog">Blog</a>
</div>
