---

---

<style>
    div {
        display: flex;
        flex-direction: column;
    }
    a {
        padding: 0.5rem;
    }

    @media (width >= 425px) {
        div {
            flex-direction: row;
        }
    }
</style>
<div>
    <a class="nav-link roboto-bold" href="/">Home</a>
    <a class="nav-link roboto-bold" href="/blog">Blog</a>
</div>
