---
import Card from "./Card.astro";


---

<style>
    section {
        display: flex;
        align-items: center;
        margin: auto;
        max-width: 700px;
        padding: 1rem;
    }
</style>
<section>
    <Card />
    <!-- <p>Content</p> -->
</section>
