---
---

<article class="skill-icons-card">
    <div class="js-img-container">
        <img class="js-img-container__img" src="/JavaScript-logo.png" alt="Javascript icon">
    </div>

    <div class="html-img-container">
        <img class="html-img-container__img" src="/html5-logo.png" alt="Javascript icon">
    </div>

    <div class="css-img-container">
        <img class="css-img-container__img" src="/css-3.svg" alt="CSS icon">
    </div>

    <div class="godot-img-container">
        <img class="godot-img-container__img" src="/godot-icon.svg" alt="Godot icon">
    </div>
</article>

<style>
    .skill-icons-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0.5rem;
        max-width: 500px;
        color: white;
        max-height: 200px;
    }

    .js-img-container, .html-img-container, .css-img-container, .godot-img-container {
        width: 100%;
        padding: .75rem;
    }
    
    .js-img-container__img, .html-img-container__img, .css-img-container__img, .godot-img-container__img {
        max-width: 100%;
        max-height: auto;
        border-radius: 0.5rem;
    }

    .css-img-container__img {
        scale: .9;
    }
    
    .godot-img-container__img {
        scale: 1.05;
    }
</style>