---

---

<article class="about-card">
    <h2 class="about-card__label roboto-bold">About Me</h2>
    <p class="about-card__description roboto-thin">
        I am continuing my web development journey after completing <a
            href="https://code-you.org/">Code: You</a
        >'s Web Development Pathway.
    </p>
    <p class="about-card__description roboto-thin">
        I also like to make games with Godot.
    </p>
</article>

<style>
    .about-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.25rem;
        background-color: hsl(240, 9%, 25%);
        width: 100%;
        color: white;
        grid-area: about;
        box-shadow: inset 0px 0px 10px 0px rgba(222, 166, 166, 0.762)
    }

    .about-card__label {
        padding: 0.5rem;
    }

    .about-card__description {
        align-self: center;
        padding: 0.5rem;
        line-height: 2rem;
    }

    a {
        color: hsl(0, 12%, 72%);
    }

    a:hover {
        color:hsl(240, 100%, 91%);
        font-weight: 500;
    }
</style>
