---

---

<article class="contact-icons-card">
    <div class="linkedin-img-container">
        <a href="https://www.linkedin.com/in/dancollins-88/"
            ><img
                class="linkedin-img-container__img"
                src="/linkedin-svgrepo-com.svg"
                alt="LinkedIn icon"
            /></a
        >
    </div>

    <div class="github-img-container">
        <a href="https://github.com/dan-collins-dev"
            ><img
                class="github-img-container__img"
                src="/github-mark-white.svg"
                alt="GitHub icon"
            /></a
        >
    </div>

    <div class="email-img-container">
        <a href="mailto:dan.collins.dev@gmail.com"
            ><img
                class="email-img-container__img"
                src="/mail_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"
                alt="Email icon"
            /></a
        >
    </div>
</article>

<style>
    .contact-icons-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 500px;
        color: white;
        max-height: 200px;
        margin: 1rem;
    }

    .linkedin-img-container,
    .github-img-container,
    .email-img-container {
        width: 100%;
        padding: 0.75rem;
        text-align: center;
    }

    .linkedin-img-container__img,
    .github-img-container__img,
    .email-img-container__img {
        width: 100%;
        max-width: 75%;
        border-radius: 0.5rem;
    }

    .linkedin-img-container__img {
        filter: invert(1);
    }
</style>
