---
import ContactIcons from "./ContactIcons.astro";
---

<article class="contact-card">
    <h2 class="contact-card__label">Contact Me</h2>
    <ContactIcons />
</article>

<style>
    .contact-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.25rem;
        background-color: hsl(240, 9%, 25%);
        width: 100%;
        color: white;
        box-shadow: inset 0px 0px 10px 0px rgba(222, 166, 166, 0.762);
    }

    .contact-card__label {
        padding: 1rem;
    }
</style>
