---
const imgSrc = "/profilePic.jpg";
const imgAlt = "A Photo of Dan Collins";
---

<article class="profile-card">
    <div class="img-container">
        <img src={imgSrc} alt={imgAlt} />
    </div>
    <h1 class="name roboto-bold">Dan Collins</h1>
    <p class="roboto-regular">
        I'm not a programmer. I'm a <em>problem solver</em>.
    </p>
    <p class="roboto-thin">I just happen to solve problems with code.</p>
</article>

<style>
    .profile-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.25rem;
        background-color: hsl(240, 9%, 25%);
        width: 100%;
        justify-content: center;
        box-shadow: inset 0px 0px 10px 0px rgba(222, 166, 166, 0.762);
    }

    img {
        max-width: 100%;
        border-radius: 50%;
    }

    .img-container {
        padding: 1rem;
        max-width: 300px;
    }

    p {
        margin: 0.25rem 0;
        padding: 0.25rem 1rem;
        text-align: center;
    }

    .name {
        padding-bottom: 1rem;
    }
</style>
