---
import SkillIcons from "./SkillIcons.astro";
---

<article class="panel">
    <h2 class="skills-card__label">Skills</h2>
    <SkillIcons />
</article>

<style>
    .skills-card__label {
        color: white;
        padding: 1rem;
    }
</style>
