---
import SkillIcons from "./SkillIcons.astro";
---

<article class="skills-card">
    <h2 class="skills-card__label">Skills</h2>
    <SkillIcons />
</article>

<style>
    .skills-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsl(238, 21%, 23%);
        width: 100%;
        color: white;
        background-color: hsl(240, 9%, 25%);
        box-shadow: inset 0px 0px 10px 0px rgba(222, 166, 166, 0.762);
    }

    .skills-card__label {
        color: white;
        padding: 1rem;
    }
</style>
